In [1]:
import pandas as pd
from os import path

In [2]:
#File pathways
path_2017 = '/Resources/2017_Census_California.csv'
path_2018 = '/Resources/2017_Census_California.csv'
path_2019 = '/Recourses/2019California_Agriculture_Statistics_Service.csv'

In [3]:
#Create a dataframe from the read csv files
df_2017 = pd.DataFrame(pd.read_csv(path_2017))
df_2018 = pd.DataFrame(pd.read_csv(path_2018))
df_2019 = pd.DataFrame(pd.read_csv(path_2019))

df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              2140 non-null   int64
 1    Commodity Code   2140 non-null   int64
 2    Crop Name        2140 non-null   object
 3    County Code      2140 non-null   int64
 4    County           2140 non-null   object
 5    Harvested Acres  2140 non-null   object
 6    Yield            2140 non-null   object
 7    Production       2140 non-null   object
 8    Price P/U        2140 non-null   object
 9    Unit             2140 non-null   object
 10   Value            2140 non-null   int64
dtypes: int64(4), object(7)
memory usage: 184.0+ KB

In [4]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2140 entries, 0 to 2139
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              2140 non-null   int64
 1    Commodity Code   2140 non-null   int64
 2    Crop Name        2140 non-null   object
 3    County Code      2140 non-null   int64
 4    County           2140 non-null   object
 5    Harvested Acres  2140 non-null   object
 6    Yield            2140 non-null   object
 7    Production       2140 non-null   object
 8    Price P/U        2140 non-null   object
 9    Unit             2140 non-null   object
 10   Value            2140 non-null   int64
dtypes: int64(4), object(7)
memory usage: 184.0+ KB

In [5]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2106 entries, 0 to 2105
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              2106 non-null   int64
 1    Commodity Code   2106 non-null   int64
 2    Crop Name        2106 non-null   object
 3    County Code      2106 non-null   int64
 4    County           2106 non-null   object
 5    Harvested Acres  2106 non-null   object
 6    Yield            2106 non-null   object
 7    Production       2106 non-null   object
 8    Price P/U        2106 non-null   object
 9    Unit             2106 non-null   object
 10   Value            2106 non-null   object
dtypes: int64(3), object(8)
memory usage: 181.1+ KB

In [6]:
#Merge the data frames into one large dataset
df_merge = pd.concat([df_2017, df_2018, df_2019])
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6386 entries, 0 to 2105
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              6386 non-null   int64
 1    Commodity Code   6386 non-null   int64
 2    Crop Name        6386 non-null   object
 3    County Code      6386 non-null   int64
 4    County           6386 non-null   object
 5    Harvested Acres  6386 non-null   object
 6    Yield            6386 non-null   object
 7    Production       6386 non-null   object
 8    Price P/U        6386 non-null   object
 9    Unit             6386 non-null   object
 10   Value            6386 non-null   object
dtypes: int64(3), object(8)
memory usage: 598.7+ KB

In [7]:
#Delete rows that do not have 'Harvested Acres','Yield','Production','Price(P/U)' & 'Unit' information
df_merge = df_merge[df_merge[' Harvested Acres'] != '  ']
df_merge = df_merge[df_merge[' Yield'] != '  ']
df_merge = df_merge[df_merge[' Price P/U'] != '  ']
df_merge = df_merge[df_merge[' Unit'] != '    ']
df_merge = df_merge[df_merge[' Unit'] != '  ']

df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2595 entries, 16 to 2086
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              2595 non-null   int64
 1    Commodity Code   2595 non-null   int64
 2    Crop Name        2595 non-null   object
 3    County Code      2595 non-null   int64
 4    County           2595 non-null   object
 5    Harvested Acres  2595 non-null   object
 6    Yield            2595 non-null   object
 7    Production       2595 non-null   object
 8    Price P/U        2595 non-null   object
 9    Unit             2595 non-null   object
 10   Value            2595 non-null   object
dtypes: int64(3), object(8)
memory usage: 243.3+ KB

In [8]:
df_merge.columns

Index(['Year', ' Commodity Code', ' Crop Name', ' County Code', ' County',
       ' Harvested Acres', ' Yield', ' Production', ' Price P/U', ' Unit',
       ' Value'],
      dtype='object')

In [9]:
#Delete Non Relevant Columns
df_merge = df_merge.drop(columns=[
    ' Commodity Code',
    ' County',
    ' Harvested Acres',
    ' Yield'
])

#Change type to float instead of string
df_merge[[' Price P/U',' Production',' Value']] = df_merge[[' Price P/U',' Production',' Value']].astype(float)

#Rename Value to Total Value($)
df_merge = df_merge.rename(columns={' Value': 'Total Value($)'})

#Create a column showing Price per individual labeled as P/I
df_merge['Price P/I ($)'] = round(df_merge[' Price P/U']/df_merge[' Production'],2)

#Rearrange columns
df_merge = df_merge[[
    'Year',
    ' County Code',
    ' Crop Name',
    ' Production',
    ' Unit',
    'Price P/I ($)',
    ' Price P/U',
    'Total Value($)'
]]

#See modified dataframe
df_merge.head()

,Year,County Code,Crop Name,Production,Unit,Price P/I ($),Price P/U,Total Value($)
16,2017,7,ALMONDS ALL,29700.0,Tons,0.16,4653.03,1.381950e+08
18,2017,11,ALMONDS ALL,64200.0,Tons,0.07,4785.64,3.072380e+08
19,2017,19,ALMONDS ALL,258000.0,Tons,0.02,4526.00,1.167708e+09
20,2017,21,ALMONDS ALL,44200.0,Tons,0.11,4912.22,2.171200e+08
21,2017,29,ALMONDS ALL,264000.0,Tons,0.02,4676.98,1.234724e+09

In [11]:
#Save file as a csv
df_merge.to_csv('2017-2019_California_Agriculture_Census_Cleaned.csv')