In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/global-food-prices/wfp_commodities_global.csv
/kaggle/input/global-food-prices/wfp_countries_global.csv
/kaggle/input/global-food-prices/wfp_markets_global.csv

In [31]:
#Paths for files
commodities_path = '/kaggle/input/global-food-prices/wfp_commodities_global.csv'
countries_path = '/kaggle/input/global-food-prices/wfp_countries_global.csv'
markets_path = '/kaggle/input/global-food-prices/wfp_markets_global.csv'

#Read csv files and create dataframes
comm_df = pd.DataFrame(pd.read_csv(commodities_path,skiprows=1))
countries_df = pd.DataFrame(pd.read_csv(countries_path,skiprows=1))
markets_df = pd.DataFrame(pd.read_csv(markets_path,skiprows=1))

#See 5 rows from df
comm_df.head()

   #item+code          #item+type  #item+name
0          50     pulses and nuts       Beans
1          51  cereals and tubers       Maize
2          52  cereals and tubers        Rice
3          54  cereals and tubers  Maize meal
4          55  cereals and tubers       Bread

In [32]:
print('Unique Counts of Item Code for Commodities')
print('='*50)
print(comm_df['#item+code'].value_counts())


print('Unique Counts of Item Type for Commodities')
print('='*50)
print(comm_df['#item+type'].value_counts())

print('='*50)
print('Unique types of Item Name for Commodities')
print(comm_df['#item+name'].value_counts())

Unique Counts of Item Code for Commodities
==================================================
#item+code
50      1
880     1
850     1
851     1
852     1
       ..
459     1
460     1
461     1
462     1
1205    1
Name: count, Length: 1032, dtype: int64
Unique Counts of Item Type for Commodities
==================================================
#item+type
cereals and tubers       258
vegetables and fruits    239
meat, fish and eggs      144
miscellaneous food       110
non-food                 108
pulses and nuts          104
oil and fats              44
milk and dairy            25
Name: count, dtype: int64
==================================================
Unique types of Item Name for Commodities
#item+name
Beans                            1
Surgical mask                    1
Semolina (white)                 1
Choko                            1
Bottle gourd                     1
                                ..
Bread (high grade flour)         1
Bread (first grade flour)        1
Cocoa (powder, not sweetened)    1
Peas (yellow, dry)               1
Tea leaves                       1
Name: count, Length: 1032, dtype: int64

In [33]:
countries_df.head()

,#country+code,#country+url,#date+start,#date+end
0,AFG,https://data.humdata.org/dataset/wfp-food-pric...,2000-01-15 00:00:00+00:00,2024-02-15 23:59:59+00:00
1,AGO,https://data.humdata.org/dataset/wfp-food-pric...,2008-01-15 00:00:00+00:00,2021-05-15 23:59:59+00:00
2,ARG,https://data.humdata.org/dataset/wfp-food-pric...,2005-01-15 00:00:00+00:00,2022-12-15 23:59:59+00:00
3,ARM,https://data.humdata.org/dataset/wfp-food-pric...,1996-01-15 00:00:00+00:00,2024-01-15 23:59:59+00:00
4,AZE,https://data.humdata.org/dataset/wfp-food-pric...,2007-01-15 00:00:00+00:00,2010-08-15 23:59:59+00:00

In [34]:
print('Unique Counts of Country Code for CountriesDF')
print('='*50)
print(countries_df['#country+code'].value_counts())


print('Unique Counts of Country Url for CountriesDF')
print('='*50)
print(countries_df['#country+url'].value_counts())

print('='*50)
print('Unique types Date Start for CountriesDF')
print(countries_df['#date+start'].value_counts())

print('='*50)
print('Unique types Date End for CountriesDF')
print(countries_df['#date+end'].value_counts())

Unique Counts of Country Code for CountriesDF
==================================================
#country+code
AFG    1
RUS    1
PRY    1
PHL    1
PER    1
      ..
GEO    1
GAB    1
FJI    1
ETH    1
ZWE    1
Name: count, Length: 99, dtype: int64
Unique Counts of Country Url for CountriesDF
==================================================
#country+url
https://data.humdata.org/dataset/wfp-food-prices-for-afghanistan           1
https://data.humdata.org/dataset/wfp-food-prices-for-russian-federation    1
https://data.humdata.org/dataset/wfp-food-prices-for-paraguay              1
https://data.humdata.org/dataset/wfp-food-prices-for-philippines           1
https://data.humdata.org/dataset/wfp-food-prices-for-peru                  1
                                                                          ..
https://data.humdata.org/dataset/wfp-food-prices-for-georgia               1
https://data.humdata.org/dataset/wfp-food-prices-for-gabon                 1
https://data.humdata.org/dataset/wfp-food-prices-for-fiji                  1
https://data.humdata.org/dataset/wfp-food-prices-for-ethiopia              1
https://data.humdata.org/dataset/wfp-food-prices-for-zimbabwe              1
Name: count, Length: 99, dtype: int64
==================================================
Unique types Date Start for CountriesDF
#date+start
2000-01-15 00:00:00+00:00    10
2006-01-15 00:00:00+00:00    10
2005-01-15 00:00:00+00:00     8
2007-01-15 00:00:00+00:00     6
2008-01-15 00:00:00+00:00     6
2003-01-15 00:00:00+00:00     4
2004-01-15 00:00:00+00:00     4
2002-01-15 00:00:00+00:00     3
2010-01-15 00:00:00+00:00     3
2011-01-15 00:00:00+00:00     2
2003-10-15 00:00:00+00:00     2
1995-01-15 00:00:00+00:00     2
2008-04-15 00:00:00+00:00     2
2001-01-15 00:00:00+00:00     2
2011-04-15 00:00:00+00:00     2
2012-08-15 00:00:00+00:00     1
2010-06-15 00:00:00+00:00     1
2010-12-15 00:00:00+00:00     1
2012-02-15 00:00:00+00:00     1
2001-04-15 00:00:00+00:00     1
1990-01-15 00:00:00+00:00     1
1990-10-15 00:00:00+00:00     1
2004-04-15 00:00:00+00:00     1
1992-11-15 00:00:00+00:00     1
2013-05-15 00:00:00+00:00     1
2014-03-15 00:00:00+00:00     1
2017-06-15 00:00:00+00:00     1
2006-04-15 00:00:00+00:00     1
1994-01-15 00:00:00+00:00     1
2005-11-15 00:00:00+00:00     1
2015-04-15 00:00:00+00:00     1
1996-01-15 00:00:00+00:00     1
1992-01-15 00:00:00+00:00     1
1998-07-15 00:00:00+00:00     1
2009-01-15 00:00:00+00:00     1
2006-03-15 00:00:00+00:00     1
2014-01-15 00:00:00+00:00     1
2007-09-15 00:00:00+00:00     1
2010-08-15 00:00:00+00:00     1
2012-01-15 00:00:00+00:00     1
2007-04-15 00:00:00+00:00     1
2021-03-15 00:00:00+00:00     1
2007-03-15 00:00:00+00:00     1
2007-06-15 00:00:00+00:00     1
1998-01-15 00:00:00+00:00     1
2007-02-15 00:00:00+00:00     1
2012-04-15 00:00:00+00:00     1
2009-03-15 00:00:00+00:00     1
Name: count, dtype: int64
==================================================
Unique types Date End for CountriesDF
#date+end
2024-01-15 23:59:59+00:00    24
2023-12-15 23:59:59+00:00    11
2022-12-15 23:59:59+00:00     8
2022-08-15 23:59:59+00:00     6
2024-02-15 23:59:59+00:00     5
2023-11-15 23:59:59+00:00     5
2022-11-15 23:59:59+00:00     4
2023-09-15 23:59:59+00:00     3
2023-04-15 23:59:59+00:00     3
2023-10-15 23:59:59+00:00     3
2022-10-15 23:59:59+00:00     2
2020-03-15 23:59:59+00:00     2
2023-03-15 23:59:59+00:00     2
2019-07-15 23:59:59+00:00     1
2023-08-15 23:59:59+00:00     1
2020-11-15 23:59:59+00:00     1
2024-03-15 23:59:59+00:00     1
2023-02-15 23:59:59+00:00     1
2024-05-15 23:59:59+00:00     1
2018-01-15 23:59:59+00:00     1
2020-08-15 23:59:59+00:00     1
2017-06-15 23:59:59+00:00     1
2020-09-15 23:59:59+00:00     1
2022-07-15 23:59:59+00:00     1
2011-03-15 23:59:59+00:00     1
2021-05-15 23:59:59+00:00     1
2022-06-15 23:59:59+00:00     1
2009-02-15 23:59:59+00:00     1
2021-11-15 23:59:59+00:00     1
2016-12-15 23:59:59+00:00     1
2023-07-15 23:59:59+00:00     1
2020-10-15 23:59:59+00:00     1
2010-08-15 23:59:59+00:00     1
2023-06-15 23:59:59+00:00     1
Name: count, dtype: int64

In [35]:
markets_df.head()

,#loc+market+code,#loc+market+name,#country+code,#adm1+name,#adm2+name,#geo+lat,#geo+lon
0,80,Arusha (urban),TZA,Arusha,Arusha Urban,-3.366667,36.683333
1,81,Babati,TZA,Manyara,Babati Urban,-4.216667,35.750000
2,82,Bukoba,TZA,Kagera,Bukoba Urban,-1.331667,31.812222
3,83,Dar Es Salaam,TZA,Dar-es-salaam,Ilala,-6.800000,39.283333
4,84,Dodoma (Majengo),TZA,Dodoma,Mpwapwa,-7.290670,36.340375

In [37]:
print('Unique Counts of Market Code for MarketDF')
print('='*50)
print(markets_df['#loc+market+code'].value_counts())


print('Unique Counts of Location Market Name for MarketDF')
print('='*50)
print(markets_df['#loc+market+name'].value_counts())

print('='*50)
print('Unique types of Country Code for MarketDF')
print(markets_df['#country+code'].value_counts())

print('='*50)
print('Unique types of Adm1 Name for MarketDF')
print(markets_df['#adm1+name'].value_counts())

print('='*50)
print('Unique types of Adm2 Name for MarketDF')
print(markets_df['#adm2+name'].value_counts())

print('='*50)
print('Unique types of Latitude for MarketDF')
print(markets_df['#geo+lat'].value_counts())

print('='*50)
print('Unique types of Longitude for MarketDF')
print(markets_df['#geo+lon'].value_counts())

Unique Counts of Market Code for MarketDF
==================================================
#loc+market+code
80      1
6139    1
6169    1
6168    1
6167    1
       ..
3211    1
3210    1
3209    1
3208    1
9033    1
Name: count, Length: 8292, dtype: int64
Unique Counts of Location Market Name for MarketDF
==================================================
#loc+market+name
Kaya               2
Aba                2
Santa Ana          2
San Vicente        2
Sucre              2
                  ..
Bunkonde Centre    1
Luebo              1
Kamonia            1
Cariaco            1
Rangjung           1
Name: count, Length: 8279, dtype: int64
==================================================
Unique types of Country Code for MarketDF
#country+code
YEM    488
ZWE    438
RWA    318
HND    274
TCD    269
      ...
THA      1
GEO      1
GAB      1
PRY      1
IRN      1
Name: count, Length: 97, dtype: int64
==================================================
Unique types of Adm1 Name for MarketDF
#adm1+name
Southern Region      103
Hadramaut             99
Somali                95
Southern Province     87
Masvingo              84
                    ...
Rivnenska              1
Ternopilska            1
Vinnytska              1
Volynska               1
Sennar                 1
Name: count, Length: 1063, dtype: int64
==================================================
Unique types of Adm2 Name for MarketDF
#adm2+name
Turkana        34
Cox'S Bazar    32
Sittwe         22
Gicumbi        22
Assongha       20
               ..
Bawlake         1
Minbu           1
Myawaddy        1
NOUMBIEL        1
Shongphu        1
Name: count, Length: 4236, dtype: int64
==================================================
Unique types of Latitude for MarketDF
#geo+lat
 12.650000    7
 13.516667    6
 13.500000    6
 13.700000    3
-4.259167     3
             ..
 20.171610    1
 16.484590    1
 20.819731    1
 21.604750    1
 27.360300    1
Name: count, Length: 8163, dtype: int64
==================================================
Unique types of Longitude for MarketDF
#geo+lon
 29.500000    8
 28.800000    7
 29.100000    7
 2.116667     6
-8.000000     5
             ..
 94.056660    1
 97.315920    1
 97.636910    1
 97.818710    1
 91.666700    1
Name: count, Length: 8141, dtype: int64